body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size:13px;
}
nav ul{
    margin: 0; 
    padding: 0;
    width: 200px;
    
    
}
nav ul li {
    list-style-type: none;
    
    
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: azure;
    background-color: rgb(163, 145, 96);
    padding: 5px;
    margin-bottom: 1px;
}

nav ul li a:hover{
background-color: blueviolet;

}
